<div class="bg-transparent rounded-md w-[98%] max-w-[96rem] mx-auto d-flex flex-wrap justify-content-around gap-4">
    <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80" aria-hidden="true">
        <div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]"
            style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)">
        </div>
    </div>

    <div class="font-extrabold text-3xl px-2 py-3 rounded-md bg-black text-white" *ngIf="loading">
        Loading...
    </div>

    <ng-container *ngIf="!loading">
        <div routerLink="product/{{product.id}}" *ngFor="let product of productList"
            class="col-lg-3 pt-1 scroll-smooth">
            <div class="card h-fit bg-black px-3 py-3 flex flex-col gap-2 relative ">
                <div class="w-full bg-white p-3 rounded-sm">
                    <img class="card-img-top object-center object-contain h-48" [src]="product.image">
                </div>
                <div>
                    <h5 class="text-2xl font-bolf text-[#9089fc] ">{{product.title}}</h5>
                </div>
                <p class="card-text border-bottom pb-2 text-white">{{product.description.slice(0,100) + "..."}}</p>
                <div class="d-flex justify-content-between align-items-center ">
                    <button class="btn hover:bg-[#ff90b5] bg-[#ff80b5] text-black text-xl font-bold"
                        routerLink="product/{{product.id}}"> View Product</button>
                    <p class="card-text font-bold text-xl text-white">₹{{product.price}}</p>

                </div>
            </div>
        </div>
    </ng-container>


    <div class=" absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl
                    sm:top-[calc(100%-30rem)]" aria-hidden="true">
        <div class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]"
            style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)">
        </div>
    </div>

    <div class=" absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl
                    sm:top-[calc(100%-30rem)]" aria-hidden="true">
        <div class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]"
            style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)">
        </div>
    </div>


</div>